<img style="float: left;;" src='Figures/alinco.png' /></a>

# Actividad 4: Modelo de Naive Bayes

### Naive Bayes para Review de peliculas

Considere el review de peliculas del archivo "moviereviews.tsv", cree un modelo de Naive Bayes para clasificaci√≥n de sentimientos con las funciones vistas en clase.

In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv('moviereviews.tsv', sep='\t')
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

#### 1.-  Dataframe, convertir las etiquetas a valores 1 y 0

In [9]:
df['label'].unique() # Se observan dos clases neg ---> review negativo, pos---->review positivo

array(['neg', 'pos'], dtype=object)

In [10]:
dic_map = {'pos':1, 'neg':0}

In [11]:
df['label'].map(dic_map)

0       0
1       0
2       1
3       1
4       0
       ..
1995    1
1996    1
1997    1
1998    1
1999    1
Name: label, Length: 2000, dtype: int64

In [12]:
df['y'] = df['label'].map(dic_map)

In [13]:
df.head()

  label                                             review  y
0   neg  how do films like mouse hunt get into theatres...  0
1   neg  some talented actresses are blessed with a dem...  0
2   pos  this has been an extraordinary year for austra...  1
3   pos  according to hollywood movies made in last few...  1
4   neg  my first press screening of 1998 and already i...  0

In [16]:
N = df.shape[0]

In [20]:
df_positive_reviews = df[df['y']==1]  # Reviews positivos
df_negative_reviews = df[df['y']==0]  # Reviews negativos
(df_positive_reviews.shape[0],df_negative_reviews.shape[0])

(1000, 1000)

In [22]:
N*.8

1600.0

In [36]:
N_pos=df_positive_reviews.shape[0]
N_neg=df_negative_reviews.shape[0]

In [37]:
# 80% para entrenamiento, 20% de testeo
df_positive_train = df_positive_reviews.iloc[:int(N_pos*0.8),:]
df_negative_train = df_positive_reviews.iloc[:int(N_neg*0.8),:]

df_positive_test = df_positive_reviews.iloc[int(N_pos*0.8):,:]
df_negative_test = df_positive_reviews.iloc[int(N_neg*0.8):,:]

In [39]:
df_positive_reviews.shape

(1000, 3)

In [41]:
df_positive_test.shape

(200, 3)

In [26]:
df_positive_train.head()

   label                                             review  y
2    pos  this has been an extraordinary year for austra...  1
3    pos  according to hollywood movies made in last few...  1
11   pos  with stars like sigourney weaver ( " alien " t...  1
16   pos  i remember hearing about this film when it fir...  1
18   pos  garry shandling makes his long overdue starrin...  1

In [42]:
# Train x positivos y negativos
df_positive_train_x = df_positive_train['review']
df_negative_train_x = df_negative_train['review']
# Test x positivos y negativos
df_positive_test_x = df_positive_test['review']
df_negative_test_x = df_negative_test['review']

In [43]:
# train y positivos y negativos
df_positive_train_y = df_positive_train['y']
df_negative_train_y = df_negative_train['y']
#test y positivos y negativos
df_positive_test_y = df_positive_test['y']
df_negative_test_y = df_negative_test['y']

In [44]:
df_positive_train_x.shape, df_positive_train_y.shape

((800,), (800,))

In [45]:
df_positive_test_x.shape, df_positive_test_y.shape

((200,), (200,))

In [47]:
df_negative_train_x.shape, df_negative_train_y.shape

((800,), (800,))

In [46]:
df_negative_test_x.shape, df_negative_test_y.shape

((200,), (200,))

In [48]:
df_positive_train_x

2       this has been an extraordinary year for austra...
3       according to hollywood movies made in last few...
11      with stars like sigourney weaver ( " alien " t...
16      i remember hearing about this film when it fir...
18      garry shandling makes his long overdue starrin...
                              ...
1584                                                  NaN
1586    any movie about the underground music scene is...
1588                                                  NaN
1590     " take a number , fill out a form , and wait ...
1595    the reunion film is not an original idea in an...
Name: review, Length: 800, dtype: object

In [53]:
train_x = df_positive_train_x.values + df_negative_train_x.values
test_x = df_positive_test_x.values + df_negative_test_x.values

In [54]:
train_y = df_positive_train_y.values + df_negative_train_y.values 
test_y = df_positive_test_y.values + df_negative_test_y.values