<img style="float: left;;" src='Figures/alinco.png' /></a>

# Actividad 4: Modelo de Naive Bayes

### Naive Bayes para Review de peliculas

Considere el review de peliculas del archivo "moviereviews.tsv", cree un modelo de Naive Bayes para clasificaci√≥n de sentimientos con las funciones vistas en clase.

In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv('moviereviews.tsv', sep='\t')
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...